@model IEnumerable<CinemaReservationSystem.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Movies</h1>

        <div>
            <a asp-controller="Cinema" asp-action="Index" class="btn btn-primary me-2">
                Cinemas
            </a>

            <a asp-controller="Actor" asp-action="Index" class="btn btn-secondary">
                Actors
            </a>
            <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">
                Categories
            </a>
        </div>
    </div>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MainImg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cinema)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <span class="@(item.Status ? "badge bg-success" : "badge bg-danger")">
                            @(item.Status ? "Active" : "Inactive")
                        </span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                    <td>
                        <img src="~/Imgs/Movies/@item.MainImg" width="100" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cinema.Name)
                    </td>
                    <td>
                        <a asp-action="Update" asp-route-id="@item.Id" >Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn-delete">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteButtons = document.querySelectorAll(".btn-delete");

        deleteButtons.forEach(button => {
            button.addEventListener("click", function (e) {
                e.preventDefault(); // stop normal navigation

                const url = this.getAttribute("href");

                Swal.fire({
                    title: "Are you sure?",
                    text: "This action cannot be undone!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#d33",
                    cancelButtonColor: "#3085d6",
                    confirmButtonText: "Yes, delete it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                          title: "Deleted!",
                          text: "Your file has been deleted.",
                          icon: "success"
                        });

                        // Redirect to delete URL
                        window.location.href = url;
                    }
                });
            });
        });
    });
</script> 